<span style="font-weight:bold">{{include.title}}</span>
<p>
  {% assign properties =  site.posts | map: {{include.property}} | join: ','  | split: ','  | sort | group_by: tag %}
  {% for property in properties %}
    <span class="site-tag">
      {% assign nilpath = site.data.nils[include.property] %}
      {% assign nilname = site.data.i18n.nil[include.property] %}
      <a href="{{ site.baseurl }}/{{include.urlpath}}/{{ property.name | default: nilpath }}/" style="font-size: {{ property.size |  times: 6 | plus: 80  }}%">
        {{ property.name | replace:'-', ' ' | capitalize | default: nilname}} ({{ property.size }})
      </a>
    </span>
  {% endfor %}
</p>
