<div class="snippets">
  {% assign nilname = site.data.i18n.nil[include.property] %}
  <h1 class="snippets-heading">Rezepte
    {% if page.tag-name %}
      mit {{ page.tag-name | capitalize}}
    {% else %}
      {{nilname}}
    {% endif %}
  </h1>
  <ul style='padding-top: 16px;'>
    {% for post in site.posts | sort: "title" %}
      {% if post[include.property] == page.tag-name %}
        <li>
          <a href="{{site.baseurl}}/{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
