<span style="font-weight:bold">Beilage</span>
<p>
  {% assign sides =  site.posts | map: 'side' | join: ','  | split: ','  | sort | group_by: tag %}
  {% for side in sides %}
    <span class="site-tag">
      <a href="{{ site.baseurl }}/sides/{{ side.name | default: site.data.nils.side.tag | slugify }}/" style="font-size: {{ side.size |  times: 6 | plus: 80  }}%">
        {{ side.name | replace:'-', ' ' | capitalize | default: site.data.i18n.nil.side }} ({{ side.size }})
      </a>
    </span>
  {% endfor %}
</p>
