---
layout: default
---
<h1 class="snippets-heading">{{ page.title }}</h1>
<p><span>Ein</span>
 {% include subtitletag.html urlpath="types" property="type" %}
 {% if page.meat %}
   <span>mit</span>
 {% endif %}
 {% include subtitletag.html urlpath="meats" property="meat" %}
 <span>und</span>
 {% unless page.meat %}
  {% if page.side %}
    <span>mit</span>
  {% endif %}
 {% endunless %}
 {% include subtitletag.html urlpath="sides" property="side" %}
 {% if page.origin %}
  <span>aus</span>
 {% endif %}
 {% include subtitletag.html urlpath="origins" property="origin" %}
 {% unless page.origin %}
  <span>er Herkunft</span>
 {% endunless %}  
 <span>.</span>
 <br/>
  <span>(</span>
  {% for tag in page.tags %}
    <span class="site-tag">
      <a href="{{ site.baseurl }}/tags/{{ tag | slugify}}/">
        #{{ tag | replace:'-', ' ' }}
      </a>
    </span>
  {% endfor %}
  <span>)</span>
{{ content }}
