---
layout: default
---
<h1 class="snippets-heading">{{ page.title }}</h1>
<p><span>Ein</span>
{% for tag in page.tags %}
  <span class="site-tag">
    <a href="{{ site.baseurl }}/tags/{{ tag | slugify}}/">
      {{ tag | replace:'-', ' ' }}
    </a>
  </span>
{% endfor %}
 <span>Gericht</span>
 {% if page.meat %}
  <span>mit</span>
  <span class="site-tag">
    <a href="{{ site.baseurl }}/meats/{{ page.meat | slugify}}/">
      {{ page.meat | replace:'-', ' ' | capitalize}}
    </a>
  </span>
 {% else %}
  <span class="site-tag">
    <a href="{{ site.baseurl }}/meats/{{site.data.nils.meat.tag}}/">
      {{site.data.i18n.nil.meat}}
    </a>
  </span>
 {% endif %}
 <span>und mit</span>
 <span class="site-tag">
   <a href="{{ site.baseurl }}/sides/{{ page.side | slugify}}/">
     {{ page.side | replace:'-', ' ' | capitalize}}
   </a>
 </span>
 <span>aus</span>
 <span class="site-tag">
   <a href="{{ site.baseurl }}/origins/{{ page.origin | slugify}}/">
     {{ page.origin | replace:'-', ' ' | capitalize}}.
   </a>
 </span>
</p>
{{ content }}
